:root {
  --bg-color: hsl(0, 0%, 98%);
  --bg-image: url(/assets/images/bg-mobile-light.jpg);
  --bg-image-desktop: url(/assets/images/bg-desktop-light.jpg);
  --bg-form-color: white;
  --text-color: black;
  --text-color-2: hsl(234, 11%, 52%);
  --border-b: hsl(233, 11%, 84%);
}
:root.dark {
  --bg-color: hsl(235, 21%, 11%);
  --bg-image: url(/assets/images/bg-mobile-dark.jpg);
  --bg-image-desktop: url(/assets/images/bg-desktop-dark.jpg);
  --border-b: hsl(233, 14%, 35%);
  --bg-form-color: hsl(235, 24%, 19%);
  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.dark-icon,
:root.dark .light-icon {
  display: block;
}
:root .light-icon {
  display: none;
}
:root.dark .dark-icon {
  display: none;
}
