header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  color: white;
  font-size: 2rem;
}
#hero_section {
  height: 35vh;
  width: 100%;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#theme-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
form {
  background-color: var(--bg-form-color);
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}
#input_text {
  width: 100%;
  height: 2rem;
  padding: 1rem;
  border: none;
  background-color: transparent;
  font-size: medium;
  color: var(--text-color);
}
#input_text:focus {
  outline: none;
}
