@media screen and (min-width: 960px) {
  #hero_section {
    height: 40vh;
    width: 100%;
    background-image: var(--bg-image-desktop);
  }
  header {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  form {
    width: 40%;
  }
  #input_text {
    height: 2rem;
    font-size: large;
  }
  .todo-list-container {
    top: 32%;
    width: 40%;
  }
  .navigation {
    bottom: 8%;
    width: 40%;
  }
}
