@media screen and (max-width: 960px) and (orientation: landscape) {
  #hero_section {
    height: 100vh;
    width: 100%;
  }
  header {
    width: 80%;
  }
  main {
    height: 100vh;
  }

  form {
    width: 80%;
  }
  .todo-list-container {
    top: 75%;
    height: 80vh;
    width: 80%;
  }
  .todo-list {
    height: 80%;
  }
  .todo {
    height: 25%;
  }
  .delete-box {
    height: 20%;
  }

  .navigation {
    bottom: -75%;
    width: 80%;
  }
  footer {
  }
}
