@media screen and (max-width: 960px) and (orientation: landscape) {
  #hero_section {
    height: 100vh;
    width: 100%;
  }
  header {
    width: 80%;
  }
  main {
    height: 60vh;
  }
  form {
    width: 80%;
  }
  footer {
    height: 20vh;
  }
}
